@use "../abstracts" as *;

.book-list-item {
  display: flex;
  flex-direction: column;
  gap: space-value(space-s);

  .cover-image {
    max-inline-size: 150px;
  }

  @include respond-to("medium") {
    flex-direction: row;
    gap: space-value(space-l);
  }
}
