<header>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <div class="header">
    <burger-menu max-width="550">
      <nav class="navigation" aria-label="Site">
        <ul role="list">
          <li>
            <a href="/" aria-current='{{  eq .Page.RelPermalink "/" }}'>Bookshelf</a>
          </li>
          <li>
            <a href="/ratings/" aria-current='{{  eq .Page.RelPermalink "/ratings/" }}'  >Ratings</a>
          </li>
          <li>
            <a href="/books/" aria-current='{{  eq .Page.RelPermalink "/books/" }}'  >Books Read</a>
          </li>
        </ul>
      </nav>
    </burger-menu>
  </div>
</header>
