@use "../abstracts" as *;

.skip-link {
  position: absolute;
  z-index: 100000;
  inset-inline-start: 1rem;
  inset-block-start: 1rem;
  display: inline-block;
  padding-inline: 1rem;
  padding-block: 0.7rem 0.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: color-value(accent, dark);
  background-color: $color-dark;
}

.skip-link:hover {
  color: $color-dark;
  background: color-value(accent, dark);
}

.skip-link:not(:focus) {
  position: absolute;
  inline-size: 1px;
  block-size: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

/* Remove necessary focus style as main is the :target */
main:focus {
  outline: none;
}
